<h1>Battle Game</h1>
<form action= "/names" method="post">
<p>Enter name for player 1:
  <input type="text" name="player1"></p>
<p>Enter name for player 2:
  <input type="text" name="player2"></p>
  <input type="submit" value="Start">
</form>
